<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="1.5.0.6446" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xuni.Forms.ChartCore" version="1.5.20152.50" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xuni.Forms.Core" version="1.5.20152.50" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xuni.Forms.FlexChart" version="1.5.20152.50" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xuni.Forms.FlexPie" version="1.5.20152.50" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xuni.Forms.Gauge" version="1.5.20152.50" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>