<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable45-net45+wp8" />
  <package id="Xuni.CollectionView" version="2.0.20153.68" targetFramework="portable45-net45+wp8" />
  <package id="Xuni.Forms.Core" version="2.0.20153.68" targetFramework="portable45-net45+wp8" />
  <package id="Xuni.Forms.FlexGrid" version="2.0.20153.68" targetFramework="portable45-net45+wp8" />
</packages>