<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="1.5.1.6471" targetFramework="xamarinios1" />
  <package id="Xuni.CollectionView" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.ChartCore" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.Core" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.FlexChart" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.FlexPie" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.Forms.Gauge" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.ChartCore" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.Core" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.FlexChart" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.FlexPie" version="1.5.20153.60" targetFramework="xamarinios10" />
  <package id="Xuni.iOS.Gauge" version="1.5.20153.60" targetFramework="xamarinios10" />
</packages>